<ng-template #content2 let-modal>
    <div class="modal-body">

        <div *ngIf="!status" class=" bg-blink">
            <h4 class="text-dark p-2">
                <i class="bi bi-exclamation-octagon"></i>
                Odabrani datum je iz prošlosti!
            </h4>
        </div>

        <form [formGroup]="nodes" (submit)="submit()" class="form">

            <div>

                <div class="mb-3">
                    <h4><strong>Date</strong></h4>
                    <h4 class="text-danger">
                        {{ dateError }}
                    </h4>
                    {{ patchDate(date, time)}}
                </div>

                <div class="input-group mb-3">
                    <input 
                    type="datetime-local" 
                    class="form-control"
                    formControlName="date">
                </div>

                <div formGroupName="contact">

                    <div class="mb-3">
                        <h4><strong>Contact</strong></h4>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">First name</label>
                        <input 
                        type="text" 
                        class="form-control"
                        formControlName="firstName">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input 
                        type="text" 
                        class="form-control"
                        formControlName="name">
                    </div>

                </div>

                <div formGroupName="property">

                    <div class="mb-3">
                       <h4><strong>Property</strong></h4>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Property name</label>
                        <input 
                        type="text" 
                        class="form-control"
                        formControlName="name">
                    </div>

                    <div formGroupName="address">

                        <div class="mb-3">
                            <label class="form-label">Street</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="street">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">House Number</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="houseNumber">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">City</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="city">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Country</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="country">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Zip</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="zipCode">
                        </div>
                    </div>

                    <div class="mb-3">
                        <h4><strong>User</strong></h4>
                     </div>

                    <div formGroupName="user">
                        <div formGroupName="profile">
                            <div class="mb-3">
                                <label class="form-label">First name</label>
                                <input 
                                type="text" 
                                class="form-control"
                                formControlName="firstname">
                            </div>
        
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input 
                                type="text" 
                                class="form-control"
                                formControlName="name">
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>

            <button class="btn btn-primary" type="submit" >Add</button>
        </form>

    </div>
  </ng-template>

  <div class="w-100 h-100" (click)="open(content2, date)">
      
  </div>
  