main{
    min-height: 100vh;
}

.bg-custom{
    background: rgb(185, 185, 185);
}

.appointment{
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(195, 195, 195);
}

.appointment:hover{
    transition: 0.2s;
    background: rgb(0, 110, 255) !important;
    color: white;
}

.fs-2{
    font-size: 40px !important;
}

.pointer{
    cursor: pointer;
}

.big-calendar{

    margin-left: 100px;

    .cal-row{
        height: 85vh;
        overflow: hidden;
        overflow-y: auto;
    }
}

.arrows{
    top: 0%;
    right: 0%;
    z-index: 100;
}

.hour-cells-div{
    height: 100px;
}

.cells{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-right: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.days{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.cells-col:nth-child(2){
    .cells-div{
        border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
    }
}

// Scrollbar editing

::-webkit-scrollbar {
    width: 4px;
    background: rgb(255, 255, 255);
}


// ADD MODAL
// *
// *

.add:hover{
    background: rgba($color: #000000, $alpha: 0.1);
}

.add-in-modal{
    height: 50px;
    font-size: 20px;
    color: rgb(190, 189, 189);
}

.add-in-modal:hover{
    transition: 0.3s ease-in-out;
    background: rgb(0, 140, 233);
    color: white !important;
    cursor: pointer;
    font-size: 25px;
}

.modal-header{
    height: 200px;
}

.add-icon:hover{
    transition: 0.2s ease-in-out;
    color: rgb(0, 98, 255) !important;
    transform: scale(1.3);
    cursor: pointer;
}

.close-add:hover{
    transition: 0.1s ease-in-out;
    cursor: pointer;
    color: rgb(85, 14, 14) !important;
}

.trash:hover{
    transition: 0.1s;
    transform: scale(1.2);
}