
        <form [formGroup]="nodes" (submit)="submit()" class="form">

            <div class="py-2 px-5">

                

                <div class="mb-3">
                    <h4><strong>Date</strong></h4>
                    <h4 class="text-danger">
                        {{ error }}
                    </h4>
                    {{ patchDate(date, hour)}}
                </div>

                <div class="input-group mb-3">
                    <input 
                    type="datetime-local" 
                    class="form-control"
                    formControlName="date">
                </div>

                <div class="mb-3">
                    <h4><strong>Invites</strong></h4>
                </div>

                <div class="mb-3">
                    <label class="form-label">Max invites</label>
                    <input 
                    type="number"
                    min="0" 
                    class="form-control"
                    formControlName="maxInviteeCount"
                    [ngClass]="{ 'is-invalid': !mic.valid && submitted }">
                    <div
                    *ngIf="submitted && !mic.valid "
                    class="invalid-feedback"
                    >Max invites number is required.</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Attendees</label>
                    <input 
                    type="number"
                    min="0" 
                    class="form-control"
                    formControlName="attendeeCount"
                    [ngClass]="{ 'is-invalid': !ac.valid && submitted }">
                    <div
                    *ngIf="submitted && !ac.valid "
                    class="invalid-feedback"
                    >Attendees count number is required.</div>
                </div>

                <div formGroupName="contact">

                    <div class="mb-3">
                        <h4><strong>Contact</strong></h4>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">First name</label>
                        <input 
                        type="text" 
                        class="form-control"
                        formControlName="firstName"
                        [ngClass]="{ 'is-invalid': !cfirstName.valid && submitted }">
                        <div
                        *ngIf="submitted && !cfirstName.valid "
                        class="invalid-feedback"
                        >First name is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input 
                        type="text" 
                        class="form-control"
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': !cname.valid && submitted }">
                        <div
                        *ngIf="submitted && !cname.valid "
                        class="invalid-feedback"
                        >Name is required.</div>
                    </div>

                </div>

                <div formGroupName="property">

                    <div class="mb-3">
                        <h4><strong>Property</strong></h4>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Property name</label>
                        <input 
                        type="text" 
                        class="form-control"
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': !pname.valid && submitted }">
                        <div
                        *ngIf="submitted && !pname.valid "
                        class="invalid-feedback"
                        >Property name is required.</div>
                    </div>

                    <div formGroupName="address">

                        <div class="mb-3">
                            <label class="form-label">Street</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="street"
                            [ngClass]="{ 'is-invalid': !street.valid && submitted }">
                            <div
                            *ngIf="submitted && !street.valid "
                            class="invalid-feedback"
                            >Street name is required.</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">House Number</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="houseNumber"
                            [ngClass]="{ 'is-invalid': !houseNum.valid && submitted }">
                            <div
                            *ngIf="submitted && !houseNum.valid "
                            class="invalid-feedback"
                            >House number is required.</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">City</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="city"
                            [ngClass]="{ 'is-invalid': !city.valid && submitted }">
                            <div
                            *ngIf="submitted && !city.valid "
                            class="invalid-feedback"
                            >City name is required.</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Country</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="country"
                            [ngClass]="{ 'is-invalid': !country.valid && submitted }">
                            <div
                            *ngIf="submitted && !country.valid "
                            class="invalid-feedback"
                            >Country name is required.</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Zip</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="zipCode"
                            [ngClass]="{ 'is-invalid': !zip.valid && submitted }">
                            <div
                            *ngIf="submitted && !zip.valid "
                            class="invalid-feedback"
                            >Zip code is required.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h4><strong>User</strong></h4>
                        </div>

                    <div formGroupName="user">
                        <div formGroupName="profile">
                            <div class="mb-3">
                                <label class="form-label">First name</label>
                                <input 
                                type="text" 
                                class="form-control"
                                formControlName="firstname"
                                [ngClass]="{ 'is-invalid': !ufirstName.valid && submitted }">
                                <div
                                *ngIf="submitted && !ufirstName.valid "
                                class="invalid-feedback"
                                >First name is required.</div>
                            </div>
        
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input 
                                type="text" 
                                class="form-control"
                                formControlName="name" 
                                [ngClass]="{ 'is-invalid': !uName.valid && submitted }">
                                <div
                                *ngIf="submitted && !uName.valid "
                                class="invalid-feedback"
                                >Name is required.</div>
                            </div>
                            
                        </div>

                        <div class="mb-3">
                            <label class="form-label">User type</label>
                            <input 
                            type="text" 
                            class="form-control"
                            formControlName="usertype" 
                            [ngClass]="{ 'is-invalid': !userType.valid && submitted }">
                            <div
                            *ngIf="submitted && !userType.valid "
                            class="invalid-feedback"
                            >User type field is required.</div>
                        </div>
                        
                    </div>
                    

                </div>


            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-primary m-2" type="submit">Add</button>
            </div>
        </form>